---
layout: default
---
<div class="post">
  <header class="post-header">
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    <div style="max-width: 850px; margin: 0 auto; text-align: left;">
      {{ content }}
    </div>
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
 